/****** Global styling ******/

body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-size: 1.2rem;
}

.section-padding {
  padding: 5% 15%;
}

.title-padding {
  padding: 3% 15% 8%;
}

.button-download {
  margin-right: 30px;
}



/******* Title *******/

#title {
  background: #ff4c68;
}

#title ::selection {
  background: #fff;
  color: #ff4c68;
}



/****** Navigation bar ******/

.navbar {
  margin-bottom: 100px;
}

.company-brand {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.nav-link {
  font-weight: 300;
  font-size: 1.2rem;
  margin-left: 50px;
}



/****** Header ******/

.h1-box {
  padding-bottom: 50px;
  text-align: left;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 30px;
}

.iphone-div {
  position: relative;
}

.iphone-image {
  width: 40%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}



/****** Features ******/

#features {
  position: relative;
  background-color: #ffffff;
}

#features ::selection {
  background: #ef8172;
  color: #fff;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
  transition: color 0.4s;
}

.features-icon:hover {
  color: #ff4c68;
}

#features h3 {
  font-weight: 700;
}



/****** Testimonials ******/

#testimonials {
  background-color: #ef8172;
  color: #ffffff;
  transition: height 0.5s;
}

#testimonials ::selection {
  background: #fff;
  color: #ef8172;
}

#testimonials h2 {
  font-weight: 700;
  font-size: 3rem;
}

#testimonials img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/****** Press ******/

#press {
  background-color: #ef8172;
}

#press .section-padding {
  padding: 0 15% 5%;
}

#press img {
  width: 70%;
  filter: brightness(0) invert(1);
}

#press .row {
  align-items: center;
}



/****** Pricing ******/

#pricing ::selection {
  background: #000;
  color: #fff;
}

#pricing h2 {
  font-weight: 700;
  font-size: 3rem;
}

.pricing-title-box {
  margin-bottom: 5%;
}

.card-column {
  margin: 4%;
}



/****** Call To Action ******/

#cta {
  background: #ff4c68;
}

#cta ::selection {
  background: #fff;
  color: #ff4c68;
}

#cta h2 {
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 4rem;
}

#cta .row {
  align-items: flex-end;
}


/****** Footer ******/

#footer ::selection{
  background: #000;
  color: #fff;
}

.footer-icons-set {
  margin: 20px;
}

.footer-icon {
  margin: 20px;
}



/****** Media Queries ******/

@media (max-width: 1700px) {
  .iphone-image {
    width: 55%;
    right: 20%;
  }
}

@media (max-width: 1500px) {
  .iphone-image {
    width: 60%;
  }

  .title-padding {
    padding: 5% 10%;
  }

  .section-padding {
    padding: 8% 10%;
  }
}

@media (max-width: 1300px) {
  .iphone-image {
    width: 65%;
  }

  .title-padding {
    padding: 5% 5% 8%;
  }

  .section-padding {
    padding: 8% 5%;
  }
}


@media (max-width: 1200px) {
  .navbar {
    margin-bottom: 80px;
  }

  .iphone-image {
    width: 60%;
    transform: rotate(0deg);
    position: static;
  }

  h2 {
    font-size: 2.5rem;
  }

  .h1-box {
    transform: translateY(20%);
    text-align: center;
  }
}


@media (max-width: 1166px) {

  .h1-box {
    transform: translateY(10%);
  }
}

@media (max-width: 1067px) {

  .h1-box {
    transform: translateY(0%);
  }

  .iphone-image {
    width: 65%;
  }
}


@media (max-width: 991px) {
  h1 {
    font-size: 4.5rem;
  }

  .company-brand {
    font-size: 3rem;
  }

  .nav-link {
    margin-left: 2rem;
  }

  .button-download {
    transform: scale(1.5);
    margin: 50px;
  }

  .iphone-image {
    width: 60%;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: none;
  }

  .feature {
    margin: 8% 0;
  }

  .features-icon {
    transform: scale(1.3);
    margin-bottom: 2rem;
  }

  .feature h3 {
    font-size: 2.5rem;
  }

  #testimonials img {
    width: 20%;
    margin: 40px;
  }

  #testimonials em {
    font-size: 1.6rem;
  }

  #press .section-padding {
    padding: 5% 5% 2%;
  }

  #press img {
    margin-bottom: 100px;
  }

  .benefits {
    margin: 30px auto;
  }
}

@media (max-width: 625px) {

  .button-download {
    margin: 50px;
  }

  .iphone-image {
    width: 60%;
    padding-top: 0;
    padding-bottom: 50px;
    transform: none;
  }

}

@media (max-width: 520px) {

  h1 {
    font-size: 4rem;
  }

  .company-brand {
    font-size: 2.5rem;
  }

}

@media (max-width: 520px) {

  body {
    font-size: 13px;
  }

}

@media (max-width: 400px) {

  body {
    font-size: 11px;
  }

}
